.gridContainer {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card {
    background: #25252f;
    border-radius: 10px;
    border: 2px solid black;
    padding: 18px;
}


p {
    color: lightgrey;
} 

.about {
    height: 15rem;
    width: 30rem;
}

.education {
    height: 10rem;
    width: 30rem;
}


.wrapper {
    margin: 1rem;
    padding: 1rem;
} 

.small {
    height: 1rem;
}


h4{
    color: #5947ae;
}

h1{
    color: #03ed9d;
}

span{
    color: #03ed9d;
}
.card li {
    color: lightgrey;
}