.aboutMe {

    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */

    .gridContainer {
        width: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 14px;
    }

    .card {
        background: #25252f;
        border-radius: 12px;
        border: 1px solid black;
        padding: 20px;
    }


    .about {
        height: 15rem;
        width: 30rem;
        font-size: 0.95rem;
        line-height: 1.5;
        margin-bottom: 15px;

    }

    .education {
        height: 10rem;
        width: 30rem;
    }

    /* .small {
        height: auto;
        width: 200px;
        padding: 10px;
        was 18px
        box-sizing: border-box;
        text-align: center;
        border: 1px solid var(--border);
    }
 */

    .interests {
        padding: 10px;
        margin: 10px;
        width: 30rem;

    }

    .games {
        padding: 10px;

    }






    .wrapper {
        margin: 0 auto;
        padding: 1rem;
        width: fit-content;
    }

    h4 {
        color: #5947ae;
    }

    h1 {
        color: #03ed9d;
        margin: 0;
    }

    span {
        color: #03ed9d;
    }

    .card li {
        color: lightgrey;
    }

    p {
        color: lightgrey;
        font-size: 0.9rem;
        line-height: 1.5;
    }










    
.small{
    display:flex;
    align-items:center;
    gap:14px;

    width:240px;
    padding:14px 18px;

    border-radius:14px;
    border:1px solid var(--border);

    background:rgba(40,40,50,0.6);
}

.small{
    font-size:22px;
}

.small{
    display:flex;
    flex-direction:column;
}

.small{
    font-size:11px;
    letter-spacing:2px;
    text-transform:uppercase;
    color:#00ffa6;
}

.small{
    font-size:15px;
    color:white;
}


}
