contact {  
    
    body {
    min-height: 100vh;
}

.Home1-container h1 {
    color: #03ed9d;
    margin: 10px;
    font-size: 2rem;
    padding-top: 60px;
    margin-top: 40px;
}


.Home1-container p {
    color: darkgrey;
    max-width: 500px;
}

.content1-wrapper {
    margin-left: 200px;
    display: flex;
    flex-direction: column; 
}


.hero-text {
    display: flex;
    gap: 10px; 
    font-size: 4rem; 
    font-weight: bold;
}

.ht-1 {
    color: white;
}


.ht-2 {
    color: #03ed9d;
}

.ht-3 {
    color: white;
}

}










