.projects {
    
    .gridContainer {
        display: grid;
        gap: 25px;
        justify-content: center;
        margin: 50px auto;
        max-width: 1000px;
    }


    h1 {
        color: #03ed9d;
    }

    p {
        color: lightgrey;
    }

    .card.main h1 {
        color: white;
    }

    .card.main p {
        color: lightgrey;
    }


    /* dit later goed maken  */
    .techStack {
        color: rgb(0, 255, 255);
    }



    .card {
        background: #1d2029;
        border-radius: 20px;
        border: 1px solid #00ffaa;
    }

    .card.main {
        color: rgb(217, 255, 0);
    }

    .card.coming {
        color: blueviolet;
    }


    .card.art {
        color: lightgreen;
    }




  











}