header {  
    background-color: #0c0c0a;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-bottom: 1px solid #262630;
    position: sticky;
    top: 0;
    z-index: 100;


    h1 {
        margin: 0;
        font-size: 2rem;
        font-family: "Times New Roman", serif;
    }

    h3 {
        color: darkgrey;
        font-size: 0.8rem;
        margin-left: right;
    }

    nav {
        gap: 20px;
        display: flex;
    }

    nav a {
        text-decoration: none;
        color: darkgrey;
        position: relative;
        padding: 10px;
        border-radius: 10px;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

    nav a:hover {
        color: lightgrey;
        background-color: #1a1a1f;
    }

    nav a.active {
        color: #03ed9d;
        background-color: #1a1a1f;
    }

    nav a.active::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #03ed9d;
    }

    span {
        color: #5746aa;
    }



    .status-wrapper {
        display: inline-flex;
        align-items: center;
        gap: 10px;
    }

    .sdot {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #03ed9d;
        box-shadow: 0 0 20px #4efec0;
        animation: pulse 2s ease-in-out infinite;
    }

}


@keyframes pulse {

    100% {
        opacity: 1;
        box-shadow: 0 0 20px #03ed9d;
    }

    50% {
        opacity: 0;
        box-shadow: 0 0 0px #03ed9d;
    }
}