header {
    background-color: transparent;
    padding: 20px 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 60px;
    border-bottom: 1px solid #1a1a1a;

    h1 {
        margin: 0;
        font-size: 2rem;
    }


    nav {
        gap: 20px;
        display: flex;
    }

    nav a {
        text-decoration: none;
        color: lightgrey;
    }

    nav a:hover,
    nav a.active {
        color: #03ed9d;
    }

    span {
        color: #5746aa;
    }



}
