body {
  color: #ffffff;
  margin: 0;
  min-height: 200vh;
  /* background-image: url(assets/wallpaper.jpg); */
  background: linear-gradient(to right,
      #0c0d0f,
      #0d1420);

}






























 


































